.odd {
	 background-color: lightgray;
}

/*#divViewWrapper {
}

#divMainView {
	width: 620px;
	float: left;
	padding: 15px;
	border: 3px solid Green;
	margin: 3px;
}

#divPreviewView {
	width: 340px;
	float: left;
	padding: 15px;
	border: 3px solid Green;
	margin: 3px;
}

.fix-to-top {
	/* divMainView width * 100 / (divPreviewView width + borderS + marginS) */
/*	transform: translateX( 176%); 
    position: fixed;
    top: 0;
}

*/