<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Formulario de Data Entry MARC</title>
	<!-- <script type="text/javascript" src="../lib/angular.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
	<script type="text/javascript" src="../app/app.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body ng-app="marcform">
<h2>Formulario MARC</h2>

<div id="divViewWrapper">
<form ng-controller="MainCtrl as ctrl" ng-init="campos = []">
<div id="divMainView">
	<div ng-repeat="campo in campos track by $index" ng-init="camposIndex = $index" ng-class-odd="'odd'" ng-class-even="'even'">
 	<span>
		<div ng-init="campo.subcampos = []">
		 Ingrese un campo	
			<select ng-model="campo.codigo" name="fieldSelect" ng-options="entrada.nombre for entrada in codigosMarc"></select>
		</div>
		<div>
		Ingrese los indicadores
			<select ng-model="campo.indicador1" name="subfieldSelect" ng-options="item for item in subcodigosMarc"></select>
			<select ng-model="campo.indicador2" name="subfieldSelect" ng-options="item for item in subcodigosMarc"></select>
		</div>
	 	<div ng-repeat="sc in campo.subcampos track by $index">
		Seleccione un código de subcampo
			<select ng-model="sc.subcodigo" name="subfieldSelect">
				<option>a</option>
				<option>b</option>
				<option>c</option>
				<option>d</option>	
			</select>
			<input name="subfieldInput" type="text" ng-model="sc.content"> 
		</div>
		<div ng-controller="subcampoCtrl">
			<button id="btn-agregar-subcampo" ng-click="addSubfield($parent.$index)">Nuevo subcampo</button>
	 	</div>
 	</span>
	</div> <!-- /campo -->
	<div ng-controller="campoCtrl">
		 <button id="btn-agregar-campo" ng-click="addField()">Agregar Nuevo Campo</button>
 	</div>

</div> <!--divMainView -->
<div id="divPreviewView" set-class-when-at-top="fix-to-top">
	<div ng-repeat="campo in campos track by $index">
		<p id="pFormatPreview" >{{campo.codigo.codigo}} {{campo.indicador1}}{{campo.indicador2}} ${{campo.subcampos[0].subcodigo}} {{campo.subcampos[0].content}}</p>
			<p ng-repeat="sc2 in campo.subcampos track by $index" ng-if="$index > 0">${{sc2.subcodigo}} {{sc2.content}}</p>
	</div>
	<div ng-controller="debugCtrl">
		 <button id="btn-debug-campos" ng-click="mostrarCamposJson()">Mostrar JSON de Campos</button>
 	</div>
 		<div ng-controller="getJsonCtrl">
		 <button id="btn-debug-getdata" ng-click="getJson()">Imprimir Json por consola</button>
 	</div>
</div>
</form>
</div> <!-- divViewWrapper -->
</body>
</html>
