<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Formulario de Data Entry MARC</title>
	<!-- <script type="text/javascript" src="../lib/angular.min.js"></script> -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script type="text/javascript" src="../app/app.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body ng-app="marcform">
<form ng-controller="MainCtrl">
 	<div>
	 Ingrese un campo	
	<select ng-model="select1" name="fieldSelect" ng-options="entrada.nombre for entrada in codigosMarc"></select>
	</div>
	<div>
	Ingrese los indicadores
	<select ng-model="select2" name="subfieldSelect">
		<option>0</option>
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
	<select ng-model="select3" name="subfieldSelect">
		<option>0</option>
		<option>1</option>
		<option>2</option>
		<option>3</option>
	</select>
	<input name="subfieldInput" type="text"> 
	</div>
	<div>
		<textarea id="formatPreview" >{{select1.codigo}} {{select2}}{{select3}}</textarea>
	</div>
</form>
</body>
</html>
